@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', 'Roboto', 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: relative;
  font-size: 2em;
  color: white;
}

/* ---- NAVBAR ---- */
.navbar {
  height: 80px;
  
  background-color: #131313;

  position: sticky;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1.2rem;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;
  max-width: 1300px;

  margin: 0 auto;

  padding: 0 50px;

  z-index: 1;
}

#navbar-logo {
  background-color: red;
  background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%);
  background-size: 100%;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbarMenu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbarItem {
  height: 80px;
}

.navbarLinks {
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  text-decoration: none;
  height: 100%;

  transition: all 0.3s ease;
}

.navbarLinks:hover {
  color: #8E54E9;
  transition: all 0.3s ease;
}

.highlight {
  border-bottom: 4px solid #8E54E9;
}

/* Home */
#home {
  /* background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%); */
  /* background-size: 100%; */

  height: 100vh;
  width: 100vw;
}

.homeContent {
  display: block;
  flex-direction: column;
  /* align-items: center; */

  height: 100%;
  width: 100%;

  /* Separate the text from the left */
  padding-top: calc(100vw - 80%);
  padding-left: calc(100vw - 97%);
}

.homeTitle {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
}

.homeTitleName {
  /* Side gradient */
  background: #f857a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100%;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.homeSubtitle {
  padding-top: 1rem;
}

.homeButton {
  font-size: 1.8rem;
  font-size: 2rem;
  font-weight: 700;

  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1rem 2rem;
  margin-top: 5rem;
  border-radius: 4px;

  color: #fff;

  position: relative;
  transition: all 0.3s ease;
  outline: none;
  text-decoration: none;

  z-index: 2;;

  cursor: pointer;
}

/* About me */
#about {
  /* background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%); */
  background-size: 100%;

  height: 100vh;
  width: 100vw;
}

.aboutContent {

  position: relative;
  display: flex;
  flex-direction: column;

  width: 50%;
  
  padding-right: 2em;
  font-size: 1.5rem;
}

.aboutCoolWords {
  font-weight: bold;
  color: #fff;

  /* Add gradient to the text */
  background: #f857a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

}

/* My projects */
#projects {
  background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%);
  background-size: 100%;

  height: 100vh;
  width: 100vw;
}

/* Contact */
#contact {
  background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%);
  background-size: 100%;

  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 960px) {

  /* ---- NAVBAR ---- */
  .navbarContainer {
    display: flex;
    justify-content: space-between;

    height: 80px;
    width: 100%;
    max-width: 1300px;

    padding: 0;

    z-index: 1;
  }

  .navbarMenu {
    display: grid;
    position: absolute;
    grid-template-columns: auto;
    
    margin: 0;
    top: -1000px;
    width: 100%;

    opacity: 1;
    transition: all 0.5s ease;

    z-index: -1;
  }

  .navbarMenu.active {
    background:#131313;
    top: 100%;
    height: 60vh;
    font-size: 1.6rem;
    
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 99;
  }

  #navbar-logo {
    padding-left: 25px;
  }

  .navbarToggle .bar {
    width:25px;
    height:3px;
    margin:5px auto;

    transition: all 0.3s ease-in-out;
    background-color: #fff;
    
    display: block;
    cursor: pointer;
  }
  
  .navbarToggle:hover {
    cursor: pointer;
  }

  .navbarItem {
    width: 100%;
  }

  .navbarLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbarLinks:hover {
    filter: drop-shadow(0px 0px 20px #8E54E9);
    transition: all 0.3s ease;
  }

  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;

    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    transform: translate(0px, 10px);
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translate(-6px, 7px) rotate(-60deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translate(6px, -9px) rotate(60deg);
  }

  /* Home */
  .homeContent {
    /* Align the text on the center */
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .aboutContent {
    width: 100%;
  }

}