@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', 'Roboto', 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: relative;
  font-size: 2em;
  color: white;
}

/* ---- NAVBAR ---- */
.navbar {
  height: 80px;
  
  background-color: #131313;

  position: sticky;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1.2rem;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;
  max-width: 1300px;

  margin: 0 auto;

  padding: 0 50px;

  z-index: 1;
}

#navbar-logo {
  background-color: red;
  background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%);
  background-size: 100%;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbarMenu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbarItem {
  height: 80px;
}

.navbarLinks {
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  text-decoration: none;
  height: 100%;

  transition: all 0.3s ease;
}

.navbarLinks:hover {
  color: #8E54E9;
  transition: all 0.3s ease;
}

.highlight {
  border-bottom: 4px solid #8E54E9;
}

/* Home */
#home {
  /* background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%); */
  /* background-size: 100%; */

  height: 100vh;
  /* width: 100vw; */
}

.homeContent {
  display: block;
  flex-direction: column;
  /* align-items: center; */

  height: 100%;
  width: 100%;

  /* Separate the text from the left */
  padding-top: calc(100vw - 80%);
  padding-left: calc(100vw - 97%);
}

.homeTitle {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
}

.homeTitleName {
  /* Side gradient */
  background: #f857a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100%;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.homeSubtitle {
  padding-top: 1rem;
}

.homeButton {
  font-size: 1.8rem;
  font-size: 2rem;
  font-weight: 700;

  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1rem 2rem;
  margin-top: 5rem;
  border-radius: 4px;

  color: #fff;

  position: relative;
  transition: all 0.3s ease;
  outline: none;
  text-decoration: none;

  z-index: 2;;

  cursor: pointer;
}

/* About me */
#about {
  /* background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%); */
  background-size: 100%;

  height: 100vh;
  /* width: 100vw; */
  padding-top: 10vh;

  display: flex;
}

.aboutLeftSide {
  margin-left: 2em;
  width: 70%;
  height: 100%;

  left: 0;
  

  text-align: center;
  justify-content: center;
  align-items: center;

  /* Change space between lines */
  /* line-height: 1em; */
}

.aboutTitle {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 5rem;
  font-weight: bold;
  color: #fff;
}

.aboutContent {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  /* Center the content */
  padding-right: 2em;
  font-size: 2rem;
}

.aboutQuestion {

  font-weight: bold;

  background: #fd746c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.aboutCoolWords {
  font-weight: 600;
  color: #fff;

  /* Add gradient to the text */
  background: #f857a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.auto-type {
  font-weight: 900;
  color: #fff;

  background: #FFB75E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.aboutRightSide {
  width: 50%;
  height: 100%;

  right: 0;
  padding-right: 2em;
/* 
  background-color: #47e64a; */
}

.aboutRightImage {
  display: block;
  
  /* Square in the center that occupies 50% of the box */
  width: 80%;
  height: 70%; 
  
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 30%;
  /* transform: translate(-50%, -50%); */
  border-radius: 20px;

  background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%);
}

/* My projects */
.projects {
  /* background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%); */
  background-size: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  padding: 10rem 0;
}

.projects h1 {
  background: #FFB75E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;

  font-size: 2.5em;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.projects p {
  margin-bottom: 5rem;
}

.projectsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.projectsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 10px;
  height: 425px;
  width: 300px;

  border-radius: 4px;
  color: #fff;
  background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%);

  transition: 00.3s ease-in;
}

.projectsCard:nth-child(2) {
  background-image: linear-gradient(to top, #47e694 0%, #e95477 100%);
}

.projectsCard:nth-child(3) {
  background-image: linear-gradient(to top, #e65f47 0%, #5461e9 100%);
}

.projectsCard:nth-child(4) {
  background-image: linear-gradient(to top, #e647e1 0%, #54e954 100%);
}

.projectsCard h2 {
  text-align: center;
  font-size: 1.5rem;
}

.projectsCard p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.projectsCard button {
  color: #fff;
  padding: 14px, 24px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #e647b4;  /* fallback for old browsers */
  font-size: 1rem;
}

.projectsCard button:hover {
  cursor: pointer;
}

.projectsCard:hover {
  transform: scale(1.075);
  transition: 0.3 ease-in;
  cursor: pointer;
}

.projectsBtn{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

/* Contact */
#contact {
  background-image: linear-gradient(to top, #4776E6 0%, #8E54E9 100%);
  background-size: 100%;

  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1300px) {

  /* ---- NAVBAR ---- */
  .navbarContainer {
    display: flex;
    justify-content: space-between;

    height: 80px;
    width: 100%;
    max-width: 1300px;

    padding: 0;

    z-index: 1;
  }

  .navbarMenu {
    display: grid;
    position: absolute;
    grid-template-columns: auto;
    
    margin: 0;
    top: -1000px;
    width: 100%;

    opacity: 1;
    transition: all 0.5s ease;

    z-index: -1;
  }

  .navbarMenu.active {
    background:#131313;
    top: 100%;
    height: 60vh;
    font-size: 1.6rem;
    
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 99;
  }

  #navbar-logo {
    padding-left: 25px;
  }

  .navbarToggle .bar {
    width:25px;
    height:3px;
    margin:5px auto;

    transition: all 0.3s ease-in-out;
    background-color: #fff;
    
    display: block;
    cursor: pointer;
  }
  
  .navbarToggle:hover {
    cursor: pointer;
  }

  .navbarItem {
    width: 100%;
  }

  .navbarLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbarLinks:hover {
    filter: drop-shadow(0px 0px 20px #8E54E9);
    transition: all 0.3s ease;
  }

  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;

    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    transform: translate(0px, 10px);
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translate(-6px, 7px) rotate(-60deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translate(6px, -9px) rotate(60deg);
  }

  /* Home */
  .homeContent {
    /* Align the text on the center */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  /* About */
  #about {
    height: auto;
  }

  .aboutContent {
    width: 100%;
  }

  .aboutLeftSide {
    width: 100%;
  }

  .aboutRightSide {
    display: none;
  }

  /* Projects */
  .projectsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {

  /* Home */
.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: auto;
}
.homeTitle, .homeTitleName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: auto;
  font-size: 3rem;
}

    /* Projects */
    .projectsWrapper {
      grid-template-columns: 1fr;
    }
}